*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/* Image styles */
.bg-image {
    background-image: url(/images/the-sleep-co-bed.jpg);
    background-size: cover;
    min-height: 10rem;
}

.logo {
    color: white; 
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
   
    
  }

/* Universal styles and utility classes */

.padded    {padding: 5%;}
.padded-sm {padding: 1rem;}
.padded-lg {padding: 10%;}

.padded-bottom {padding: 5% 5% 10rem 5%;}

.bg-dark {
    background-color: #192B37;
    color: white;
}

.tall-40    {min-height: 40vh;}
.tall-50    {min-height: 50vh;}
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80    {min-height: 80vh;}
.tall-90    {min-height: 90vh;}
.tall-100   {min-height: 100vh;}


/* Typography styles */

body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
        margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #fbbe00;
}

.featured-text  {color: #fbbe00;}
.white-text     {color: white;}

.big-text       {font-size: 4.5rem;}
.medium-text    {
    font-size: 2rem;
    line-height: 1.1;
}
.small-text     {font-size: 1.5rem;}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120, 120, 125);
    line-height: 1;
}

.font-weight-light {font-weight: 200;}
.font-weight-normal {font-weight: normal;}
.font-weight-extrabold {font-weight: 800;}

.text-left      {text-align: left;}
.text-center    {text-align: center;}
.text-right     {text-align: right;}


/*  Header & Footer Styles */

header {
    padding: 2%;
    background-color: #192B37;
}

nav a {
    padding: 8% 4%;
    border: none;
    color: white;
    
}

footer a {
    border: none;
    
}

/* Welcome Banner */
.welcome {
    background-image: url('images/the-sleep-co-bed.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-size {
    font-size: 5.5rem;
    line-height: 1;
}


/* background-images */
.bg-room {
    background-image: url(/images/the-sleep-co-room.jpg);
}
.bg-dog {
    background-image: url(/images/the-sleep-co-dog.jpg);
    background-position: 50% 35%;
}

.bg-pillow {
    background-image: url(/images/the-sleep-co-pillow.jpg);
    background-position: 50% 57%;
}

.bg-bed {
    background-image: url(https://source.unsplash.com/I8kTKM17Ktc);
    background-position: 50% 57%;
}

.bg-person-1 {
    background-image: url(https://source.unsplash.com/OhKElOkQ3RE);
    background-position: 50% 57%;
    border-radius: 10px 30px;
}

.bg-person-2 {
    background-image: url(https://source.unsplash.com/JoM_lC1WAnE);
    background-position: 50% 57%;
    border-radius: 10px 30px;
}

.bg-person-3 {
    background-image: url(https://source.unsplash.com/ym--mSBZ0ro);
    background-position: 50% 57%;
    border-radius: 10px 30px;
}

.bg-person-4 {
    background-image: url(https://source.unsplash.com/IF9TK5Uy-KI);
    background-position: 30% 70%;
    border-radius: 10px 30px;
}

.bg-sleep {
    background-image: url(https://source.unsplash.com/CwIU33KGToc);
    background-position: 30% 97%;
}

/* icon grid */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

form input,
form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border: 2px solid white;
    outline: none;
    font-family: inherit;
    font-size: 0.8rem;
}

form input:focus,
form textarea:focus {
 border-color:  #fbbe00; 
}

textarea {
    min-height: 8rem;
}

form label {
    margin-top: 1rem;
    display: block;
    color: white;
    font-weight: bold;
}

form button {
    background-color:rgb(120, 120, 125);
    color: white;
    border: none;
    padding: 0.7rem 2rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0;
    }

form button:hover {
    background-color: #fbbe00;
}

.checkmark {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
}
